<section class="main--header animated fadeIn">
  <div class="container">
    <div class="columns">
      <div class="column">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">

            <a href="/" class="navbar-item" href="/">
              <img src="../../../assets/images/logo.jpg" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
              data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item">
                Home
              </a>

              <a class="navbar-item">
                About us
              </a>
              <a class="navbar-item">
                Services
              </a>

              <a class="navbar-item">
                Blog
              </a>
              <a class="navbar-item">
                Contact
              </a>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <span class="_cta">call us on :<span>1-116-321-55</span> </span>

              </div>
              <div class="navbar-item">
                <div class="buttons">
                  <a href="/register" class="button is-btn is-btn-primary">
                    <strong>Register</strong>
                  </a>
                  <!-- <a class="button is-light">
                          Log in
                        </a> -->
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>



  </div>
  <!-- -->
  <div class="main--nav">

    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <article class="media">
            <div class="media-left">
              <div class="container">
                <div class="columns">
                  <div class="column header--title">
                    <h6>we are a</h6>
                    <h3>modern digital agency</h3>
                  <p>The simplest solution to create your e-commerce site for free
                      <br>
                      
                    </p>
                    <a href="" class="button  is-capitalized is-btn is-btn-primary ">get started</a>
                  </div>
                </div>
              </div>

            </div>
          </article>
        </div>
        <div class="column is-4">

        </div>
      </div>
    </div>

  </div>
</section>

<section class="main--section animated fadeIn">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12 section--title">
        <h4>Our top marketplaces</h4>
        <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Phasellus blandit massa enim Nullam nunc varius.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12 items--featured">
        <div class="columns">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/logos/1.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <h4>marketplace 1</h4>
                  <a href="#" class="button is-primary">visit</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/logos/2.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <h4>marketplace 1</h4>
                  <a href="#" class="button is-primary">visit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/logos/3.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <h4>marketplace 1</h4>
                  <a href="#" class="button is-primary">visit</a>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/logos/4.jpg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <h4>marketplace 1</h4>
                  <a href="#" class="button is-primary">visit</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="main--banner animated fadeIn">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>create your marketplace</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, perspiciatis.
          <br>Lorem ipsum dolor sit amet.
        </p>
        <a href="" class="button button is-btn is-btn-primary">start</a>

      </div>
    </div>

  </div>
</section>
<section class="main--news animated fadeIn">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12 section--title">
        <h4>Latest news</h4>
        <p>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. Phasellus blandit massa enim Nullam nunc varius.
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12 items--featured">
        <div class="columns">
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/news/1.jpeg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <p class="title is-5">Lorem ipsum dolor sit amet.</p>
                  <p class="exerc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptates sequi architecto praesentium explicabo ex omnis unde
                    consequatur obcaecati rerum, ut error tempore dolorem quia eligendi illum! Deserunt repudiandae
                    velit enim?

                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/news/2.jpeg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <p class="title is-5">Lorem ipsum dolor sit amet.</p>
                  <p class="exerc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptates sequi architecto praesentium explicabo ex omnis unde
                    consequatur obcaecati rerum, ut error tempore dolorem quia eligendi illum! Deserunt repudiandae
                    velit enim?

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/news/3.jpeg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <p class="title is-5">Lorem ipsum dolor sit amet.</p>
                  <p class="exerc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptates sequi architecto praesentium explicabo ex omnis unde
                    consequatur obcaecati rerum, ut error tempore dolorem quia eligendi illum! Deserunt repudiandae
                    velit enim?

                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-3">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/news/2.jpeg" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">

                <div class="content">
                  <p class="title is-5">Lorem ipsum dolor sit amet.</p>
                  <p class="exerc">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Voluptates sequi architecto praesentium explicabo ex omnis unde
                    consequatur obcaecati rerum, ut error tempore dolorem quia eligendi illum! Deserunt repudiandae
                    velit enim?

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="main--footer animated fadeIn">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-8">
        <h3>Subscribe Our Newsletter
        </h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum, tempore suscipit. </p>
      </div>
      <div class="column is-4">
        <div class="field">
          <p class="control has-icons-right">
            <input class="input" type="email" placeholder="ex.example@domain.com">
            <span class="icon is-small is-right">
              <i class="fa fa-envelope"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <hr>
      </div>
      <div class="column is-4 ">
        <h4>Contact infos</h4>
        <ul class="contact">
          <li><a > <i class="fa fa-map"></i> 123 Street, Old Trafford, NewYork, USA</a></li>
          <li><a > <i class="fa fa-envelope"></i> domain@example.com</a></li>
          <li><a > <i class="fa fa-phone"></i> 1-16-33-55</a></li>
        </ul>
      </div>
      <div class="column is-4 ">
        <h4>Usesuful links</h4>
        <ul class="contact">
          <li><a > about us</a></li>
          <li><a > register</a></li>
          <li><a > other</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
