<div id="__offers">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1 ">
           <ul class="columns _list is-centered">
               <li class="column is-3">
                <img src="../../../../assets/images/delivery.svg" alt="">
                <div class="descr">
                    <p class="title is-5">Free Delivery</p>
                    <span>for over 90$</span>
                </div>
               </li>
               <li class="column is-3">
                <img src="../../../../assets/images/delivery.svg" alt="">
                <div class="descr">
                    <p class="title is-5">Free Delivery</p>
                    <span>for over 90$</span>
                </div>
               </li>
               <li class="column is-3">
                <img src="../../../../assets/images/arrows.svg" alt="">
                <div class="descr">
                    <p class="title is-5">90 Days Return</p>
                    <span>for over 90$</span>
                </div>
               </li>
               <li class="column is-3">
                <img src="../../../../assets/images/card.svg" alt="">
                <div class="descr">
                    <p class="title is-5">Secure Payment</p>
                    <span>for over 90$</span>
                </div>
               </li>
            </ul>

            </div>
        </div>
    </div>
</div>