@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
// Set your brand colors
$dark: #333333;
$yellow: #F9BA48;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$orange:#ccc;
// Update Bulma's global variables
$family-sans-serif: "Open Sans", sans-serif;
$grey-dark: #000;
$grey-light: $beige-light;
$primary: $dark;
$warning: $orange;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";