
<div id="_middle-slider">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-2">
                <owl-carousel-o [options]="customOptions" >
                    <ng-template carouselSlide>
                        <div class="typo"><p class="title is-3">cool fashion</p>
                         <div class="details">
                             <span class="title is-6">Discount up to</span>
                             <span class="title discount is-4  is-block">50% off</span>
                         </div>
                        </div>
                        <img src="../../../../assets/images/s3-1.jpg">

                    </ng-template>

                </owl-carousel-o> 
            </div>
        </div>
    </div>
</div>
